
  <p>You've been assigned a new tutee!</p>
  
  <p>Your Tutee is <%= @tutee.first_name %> <%= @tutee.last_name %></p>
  
  <p>Their phone numer is : <%= @tutee.phone_number %></p>
  <p>Their email is: <%= @tutee.email %></p>
  <p>Your tutoring session is: <%= @day %> at <%= @time %> 

  <p>Please Contact your Tutee in the next 48 hours to confirm your first meeting.</p>