<h1 align="center">Tutors</h1>

<table class="table table-striped table-hover table-bordered" style="width: auto;" align="center">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>SID</th>
      <th>Phone Number</th>
      <th>Year</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @tutors.each do |name| %>                    
        <tr>
          <td><%= name.first_name %></td>
          <td><%= name.last_name %></td>
          <td><%= name.email %></td>
          <td><%= name.sid %></td>
          <td><%= name.phone_number %></td>
          <td><%= name.year %></td>
          <td><%= link_to "Delete Tutor", delete_tutor_path(name), data: { confirm: "Are you sure you want to remove this tutor from the system?" } %></td>
        </tr>
    <% end %>
  </tbody>
</table> 
<%= link_to "Reset Tutors", destroy_tutors_path, data: { confirm: "Are you sure you want to reset the tutor database?" } %>
<%= link_to "Input New Tutor SID", tutor_sid_path %>

<br></br>

<h1 align="center">Tutees</h1>

<table class="table table-striped table-hover table-bordered" style="width: auto;" align="center">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>SID</th>
      <th>Phone Number</th>
      <th>Year</th>
      <th>Tutor</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @tutees.each do |name| %>                    
        <tr>
          <td><%= name.first_name %></td>
          <td><%= name.last_name %></td>
          <td><%= name.email %></td>
          <td><%= name.sid %></td>
          <td><%= name.phone_number %></td>
          <td><%= name.year %></td>
          <% if !name.tutor.nil? %>
            <td> <%= name.tutor.first_name %>  <%= name.tutor.last_name %> (<%= link_to "Edit", edit_match_path(name) %>)</td>
          <% else %>
            <td> None (<%= link_to "Edit", edit_match_path(name) %>)</td>
          <% end %>
          <td><%= link_to "Delete Tutee", delete_tutee_path(name), data: { confirm: "Are you sure you want to remove this tutee from the system?" } %></td>
        </tr>
    <% end %>
  </tbody>
</table> 
<%= link_to "Input New Tutee SID", tutee_sid_path %>
<%= link_to "Reset Tutees", destroy_tutees_path, data: { confirm: "Are you sure you want to reset the tutee database?" } %>

<br> </br>

<div style="text-align:center">
    <%= button_to "Logout", destroy_admin_session_path, :method => :delete, :class => "btn btn-outline-primary" %>
    <br></br>
    <%= button_to "Back to Home", root_path, :method => :get, :class => "btn btn-outline-primary" %>
</div>

<%= link_to 'Download as .xlsx', export_tutors_path(format: :xlsx) %>
