<% if flash[:error] %>
  <div class="alert alert-dismissible alert-danger">
    <h4><%= flash[:error] %></h4>
  </div>
<% end %>
<%= form_tag tutor_path(@tutor),  :class => "form-horizontal", :method => :put do %>
  <fieldset>
    <h1 style="text-align:center;margin-left:7%">Tutor Information Form</h1>
    <h6 style="text-align:center;margin-left:7%"><i>*All fields are required</i></h6>
    <div class="form-group">
      <%= label :tutor, :first_name, 'First Name', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_field :tutor, 'first_name', placeholder: "First Name", :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= label :tutor, :last_name, 'Last Name', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_field :tutor, 'last_name', placeholder: "Last Name", :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= label :tutor, :sid, 'SID', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_field :tutor, 'sid', placeholder: "SID", :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= label :tutor, :year, 'Year', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_field :tutor, 'year', placeholder: "Year", :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= label :tutor, :email, 'Email', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_field :tutor, 'email', placeholder: "Email", :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= label :tutor, :phone_number, 'Phone Number', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_field :tutor, 'phone_number', placeholder: "Phone Number", :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= label :tutor, :major, 'Major', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_field :tutor, 'major', placeholder: "Major", :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= label :tutor, :tutor_cohort, 'Tutor Cohort', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_field :tutor, 'tutor_cohort', placeholder: "Tutor Cohort", :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= label :tutor, :bio, 'Biography', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
        <%= text_area :tutor, 'bio', placeholder: "Tell us something about yourself!", :class => "form-control", :required => true %>
      </div>
    </div>

    <div class="form-group">
      <%= label :tutor, 'Available Times', :class => 'col-lg-4 control-label' %>
      <div class="col-lg-5">
          <table class="table table-striped table-hover table-bordered">
            <tr class="table-info">
              <th></th>
              <% morn = 0 %>
              <% ti = "" %>
              <% @time_slots.each do |time_slot| %>
                <% ti = morn < 4 ? "am" : "pm" %>
                <th>
                  <%= time_slot %> <BR> 
                  <%= ti %>
                  <% morn += 1%>
                </th>
              <% end %>
            </tr>
            <% counter = 1 %>
            <% @days.each do |day| %>
              <tr>
                <th><%= day %></th>
                <% @time_slots.length.times do %>
                  <% @checked = @tutor.time_availabilitys.exists?(counter) %>
                  <td><%= check_box_tag "tutor[time_availabilitys_ids][]", counter, checked = @checked %> </td>
                  <% counter += 1 %>
                <% end %>
              </tr>
            <% end %>
          </table>
      </div>
    </div>

  
    <div class="form-group" style="text-align:center;margin-left:7%">
      <div class="col-lg-6 col-lg-offset-3">
            <button id="select_all" type="button">Uncheck All</button>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div class="col-lg-6 col-lg-offset-3">
        <button type="submit" class="btn btn-primary" style="text-align:center">Submit</button>
      </div>
    </div>
  </fieldset>
<% end %>