
<h1 class="text-center">Welcome <%= @tutor.first_name %>  <%= @tutor.last_name %>!</h1>
<center><i>Congrats on your SLC match</i></center>
<br>
<br>
<br>

<p class="text-center">Your Student(s):</p>
<p class="text-center"> 
<% @tutees.each do |tutee| %>
    <%= tutee.first_name%><%= tutee.last_name%><br>
<% end %>
</p>

<br>
<p class="text-center">Shared Time(s):</p>
<p class="text-center">
  <!--<%= @shared_times %>  -->
</p> 

<div style= "text-align:center;margin-top:15%"> 
<%= link_to "Logout",  destroy_tutor_session_path, :method => :delete %>
<br>
<%= link_to "Back to Home", root_path %>
</div>
