<div style="margin: 0 auto; width:70%">
<!--<h2 class="text-center">Forgot your password?</h2>-->

<div class="panel panel-default" style=margin-top:10%;width:70%">
  <div class="panel-heading text-center">
      <h1>Forgot your password?</h1>
  </div>

 
     <div class="panel-body" style="width:70%;margin-left:35%">
     
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="field" style = "margin-top:40px">
          <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Email" %>
        </div>
      
        <br>
        <div class="actions" style = "margin-bottom:40px">
          <%= f.submit "Send reset instructions" %>
        </div>
        <% end %>
     
     
     </div>


</div>
</div>

<div class="text-center">
  <%= render "devise/shared/links"%>
  <%= link_to "Back to Home", root_path %>
</div>

