<div style="margin: 0 auto; width:70%">

<div class="panel panel-default" style=width:70%">
  <div class="panel-heading text-center" style="">
    <h1>Log in</h1>
  </div>
  <div class="panel-body" style="width:70%;margin-left:15%">
    
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field" style="margin-top:50px">
      <!--<%= f.label :email %>-->
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>

    <div class="field" style="margin-top:25px">
      <!--<%= f.label :password %>-->
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field" style="margin-top:25px">
       
        <%= f.label :remember_me, style:"margin-right:13%" do %>
           <%= f.check_box :remember_me, style:"margin-left:50x" %>
           Remember me
        <% end -%>
      </div>
    <% end -%>

    <div class="actions" style= "margin-bottom:10px">
      <div style= "margin-top:25px">
        <%= f.submit "Log in", style: "margin: 0 auto" %>
      </div>
    </div>
  <% end %>
  
  
  </div>
</div> 

</div>

<div style= "text-align:center"> 
  <%= render "devise/shared/links"%>
</div>



