<h1 style="text-align:center">Tutee Information Form</h1>

<%= form_tag tutee_path(@tutee), :method => :put, :style=>"text-align:center"  do %>
  
  <%= label :tutee, :first_name, 'First Name' %>
  <%= text_field :tutee, 'first_name', :value => nil, :style=>"margin-left:30px"  %>
  <br>

  <%= label :tutee, :last_name, 'Last Name'%>
  <%= text_field :tutee, 'last_name', :value => nil, :style=>"margin-left:30px"  %>
  <br>

  <%= label :tutee, :sid, 'SID'%>
  <%= text_field :tutee, 'sid', :style=>"margin-left:63px"    %>
   <br>

  <%= label :tutee, :grade, 'Current Grade' %>
  <%= text_field :tutee, 'grade', :style=>"margin-left:15px"  %>
   <br>
   
  <%= label :tutee, :email, 'Email' %>
  <%= text_field :tutee, 'email' %>
   <br>
   
  <%= label :tutee, :phone_number, 'Phone Number' %>
  <%= text_field :tutee, 'phone_number'  %>
   <br>
  
  <%= label :tutee, :semesters_at_cal, 'Semesters at Cal' %>
  <%= text_field :tutee, 'semesters_at_cal' %>
   <br>
  
  <%= label :tutee, :major, 'Major' %>
  <%= text_field :tutee, 'major' %>
   <br>
  
  <%= label :tutee, :requested_class, 'Class Requesting Help In' %>
  <%= text_field :tutee, 'requested_class' %>
   <br>

  <%= check_box :tutee, "DSP" %>
  <label for="DSP">Disabled Students Program (DSP)</label>
   <br>
  
  <%= check_box :tutee,"EOP" %>
  <label for="EOP">Educational Opportunity Program (EOP)</label>
   <br>
 
  <%= check_box :tutee, "SBC" %>
  <label for="SBC">Summer Bridge Cohort 2017</label>
   <br>
  
  <%= check_box :tutee,"FPF" %>
  <label for="FPF">Fall Program for Freshman (FPF)</label>
   <br>
  
  <%= check_box :tutee,"TRSP" %>
  <label for="TRSP">Transfer, Re-Entry, or Student Parent (TRSP)</label>
   <br>
  
  <%= check_box :tutee,"UCIEP" %>
  <label for="UCIEP">UC Intercampus Exchange Program (UCIEP)</label>
   <br>
  
  <%= check_box :tutee,"BISP" %>
  <label for="BISP">Berkeley International Study Program (BISP)</label>
   <br>
  
<%= submit_tag 'Submit' %>

<% end %>
