<%= form_tag tutee_path(@tutee), :method => :put do %>

<form class="form-horizontal">
  <fieldset>
    <legend>Tutee Information Form</legend>
      
      <div class="form-group">
        <label for="first_name" class="col-lg-2 control-label">First Name</label>
        <%= text_field :tutee, 'first_name', :value => nil %>
      </div>

      <div class="form-group">
        <label for="last_name" class="col-lg-2 control-label">Last Name</label>
        <%= text_field :tutee, 'last_name', :value => nil %>
      </div>

      <div class="form-group">
        <label for="sid" class="col-lg-2 control-label">Student ID</label>
        <%= text_field :tutee, 'sid'  %>
      </div>

      <div class="form-group">
        <label for="grade" class="col-lg-2 control-label">Grade Level</label>
        <%= text_field :tutee, 'grade'  %>
      </div>
      
      <div class="form-group">
        <label for="email" class="col-lg-2 control-label">Email</label>
        <%= text_field :tutee, 'email' %>
      </div>
      
      <div class="form-group">
        <label for="phone_number" class="col-lg-2 control-label">Phone Number</label>
        <%= text_field :tutee, 'phone_number'  %>
      </div>
      
      <div class="form-group">
        <label for="semesters_at_cal" class="col-lg-2 control-label">Semesters At Cal</label>
        <%= text_field :tutee, 'semesters_at_cal' %>
      </div>
      
      <div class="form-group">
        <label for="major" class="col-lg-2 control-label">Major</label>
        <%= text_field :tutee, 'major' %>
      </div>
      
      <div class="form-group">
        <label for="requested_class" class="col-lg-2 control-label">Requested Class</label>
        <%= text_field :tutee, 'requested_class' %>
      </div>

      <div class="list-group">
        <h5>Please Check any groups you are involved in</h5>
      </div>


      <div class="form-group">
        <div class="row">
            <div class="col-md-4 "></div>
          <div class="col-md-4">

          <div class="checkbox">  
            <%= check_box :tutee, 'DSP' %>
            <label for="DSP">Disabled Students Program (DSP)</label>
          </div>
                
      
          <div class="checkbox">  
            <%= check_box_tag "EOP", @tutee.EOP %>
            <label for="EOP">Educational Opportunity Program (EOP)</label>
          </div>

          <div class="checkbox">  
            <%= check_box :tutee, "SBC" %>
            <label for="SBC">Summer Bridge Cohort 2017</label>
          </div>

          <div class="checkbox">  
            <%= check_box_tag "FPF", @tutee.FPF %>
            <label for="FPF">Fall Program for Freshman (FPF)</label>
          </div>

          <div class="checkbox">  
            <%= check_box_tag "TRSP", @tutee.TRSP %>
            <label for="TRSP">Transfer, Re-Entry, or Student Parent (TRSP)</label>
          </div>

          <div class="checkbox">  
            <%= check_box_tag "UCIEP", @tutee.UCIEP %>
            <label for="UCIEP">UC Intercampus Exchange Program (UCIEP)</label>
          </div>

          <div class="checkbox">  
            <%= check_box_tag "BISP", @tutee.BISP %>
            <label for="BISP">Berkeley International Study Program (BISP)</label>
          </div>
        </div>
                    <div class="col-md-4 "></div>
      </div>
      
     
    <%= submit_tag 'Submit' %>

  </fieldset>
</form>

<% end %>
