  <%= form_tag @tutee, :url => tutee_match_path, :class => "form-horizontal", :method => :put do %>
    
        <h1 style="text-align:center;margin-left:7%">Writer Information Form</h1>
        
        <div class="form-group">
          <%= label :tutee, :first_name, :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'first_name', placeholder: "John", :value => nil, :class => "form-control"%>
          </div>
        </div>

        <div class="form-group">
          <%= label :tutee, :last_name, 'Last Name', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'last_name', placeholder: "Doe", :value => nil, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">  
          <%= label :tutee, :sid, 'SID', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'sid', placeholder: "12345678", :value => nil, :class => "form-control"  %>
          </div>
        </div>
        <div class="form-group">  
          <%= label :tutee, :grade, 'Current Grade', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'grade', placeholder: "senior", :value => nil, :class => "form-control"  %>
          </div>
        </div>
        <div class="form-group">  
          <%= label :tutee, :email, 'Email', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'email', placeholder: "john.doe@berkeley.edu", :value => nil, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">  
          <%= label :tutee, :phone_number, 'Phone Number', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'phone_number', placeholder: "XXX-XXX-XXXX", :value => nil, :class => "form-control"  %>
          </div>
        </div>
        <div class="form-group">  
          <%= label :tutee, :semesters_at_cal, 'Semesters at Cal', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'semesters_at_cal', placeholder: "7", :value => nil, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= label :tutee, :major, 'Major', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'major', placeholder: "Media Studies", :value => nil, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">  
          <%= label :tutee, :requested_class, 'Class Requesting Help In', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
            <%= text_field :tutee, 'requested_class', placeholder: "Art History 100", :value => nil, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= label :tutee, 'Available Times', :class => 'col-lg-4 control-label' %>
          <div class="col-lg-5">
              <table class="table table-striped table-hover table-bordered">
                <tr class="table-info">
                  <th></th>
                  <% TimeAvailability.group(:start_time).order(:id).each do |t| %>
                    <th><%= t.start_time %></th>
                  <% end %>
                </tr>
                <% TimeAvailability.group(:day).order(:id).each do |t| %>
                  <tr>
                    <th><%= t.day %></th>
                    <% TimeAvailability.group(:start_time).order(:id).each do |t| %>
                      <td><%= check_box_tag 'time' %></td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
          </div>
        </div>
        
      <div class="form-check">
        <label id= "DSP" class="form-check-label" style="margin-left:34%">
        <input type="checkbox" class="form-check-input" style="margin-right:20px">
            Disabled Students Program (DSP)
      </label>
      </div>
      
      
       <div class="form-check">
        <label id= "EOP" class="form-check-label" style="margin-left:34%">
        <input type="checkbox" class="form-check-input" style="margin-right:20px">
            Educational Opportunity Program (EOP)
      </label>
      </div>
      
      
       <div class="form-check">
        <label id= "SBC" class="form-check-label" style="margin-left:34%">
        <input type="checkbox" class="form-check-input" style="margin-right:20px">
           Summer Bridge Cohort 2017
      </label>
      </div>
      
      
       <div class="form-check">
        <label id= "FPF" class="form-check-label" style="margin-left:34%">
        <input type="checkbox" class="form-check-input" style="margin-right:20px">
            Fall Program for Freshman (FPF)
      </label>
      </div>
      
      
       <div class="form-check">
        <label id= "TRSP" class="form-check-label" style="margin-left:34%">
        <input type="checkbox" class="form-check-input" style="margin-right:20px">
            Transfer, Re-Entry, or Student Parent (TRSP)
      </label>
      </div>
      
       <div class="form-check">
        <label id= "UCIEP" class="form-check-label" style="margin-left:34%">
        <input type="checkbox" class="form-check-input" style="margin-right:20px">
             UC Intercampus Exchange Program (UCIEP)
      </label>
      </div>
      
       <div class="form-check">
        <label id= "BISP" class="form-check-label" style="margin-left:34%">
        <input type="checkbox" class="form-check-input" style="margin-right:20px">
             Berkeley International Study Program (BISP)
      </label>
      </div>
      
      <br>
      <br>
      
      <div class="form-group" style="text-align:center;margin-left:7%">
      <div class="col-lg-6 col-lg-offset-3">
        <button type="submit" class="btn btn-primary" style="text-align:center">Submit</button>
      </div>
    </div>
    
<% end %>
    


