<h1>Tutee Information Form</h1>

<%= form_tag tutee_path(@tutee), :method => :put do %>
  
  <%= label :tutee, :first_name, 'First Name' %>
  <%= text_field :tutee, 'first_name', :value => nil %>

  <%= label :tutee, :last_name, 'Last Name' %>
  <%= text_field :tutee, 'last_name', :value => nil %>

  <%= label :tutee, :sid, 'SID' %>
  <%= text_field :tutee, 'sid'  %>

  <%= label :tutee, :grade, 'Current Grade' %>
  <%= text_field :tutee, 'grade'  %>
  
  <%= label :tutee, :email, 'Email' %>
  <%= text_field :tutee, 'email' %>
  
  <%= label :tutee, :phone_number, 'Phone Number' %>
  <%= text_field :tutee, 'phone_number'  %>
  
  <%= label :tutee, :semesters_at_cal, 'Semesters at Cal' %>
  <%= text_field :tutee, 'semesters_at_cal' %>
  
  <%= label :tutee, :major, 'Major' %>
  <%= text_field :tutee, 'major' %>
  
  <%= label :tutee, :requested_class, 'Class Requesting Help In' %>
  <%= text_field :tutee, 'requested_class' %>
  
  <%= label :tutee, :in_dsp, 'Member of DSP?' %>
  <%= text_field :tutee, 'in_dsp' %>

  <% form_for @tutee do |f| %>
    <% f.collection_check_boxes :DSP, :EOP, :SBC, :FPF, :TRS, {:item_wrapper_class => 'checkbox_container'} %>
  <% end %>

<%= submit_tag 'Submit' %>

<% end %>