%h1 Tutee Information Form

-#Form tag has action and method which determines how its submitted 
= form_tag tutees_path, :method => :post do


  = label :tutee, :first_name, 'First Name' 
  -#<label for= "tutee_first_name">First Name</label>
  -# There is such a model as tutee with attribute first name. Generate form element suitable for editing that attribute
  = text_field :tutee, 'first_name'
  -#<input id= "movie_first_name" name = "movie[first_name]"
  
  = label :tutee, :last_name, 'Last Name'
  = text_field_tag :tutee, 'last_name'  
  
  = label :tutee, :sid, 'SID'
  = text_field :tutee, 'sid' 
  
  = label :tutee, :grade, 'Current Grade'
  = text_field :tutee, 'grade' 
  
  = label :tutee, :email, 'Email'
  = text_field :tutee, 'email'
  
  = label :tutee, :phone_number, 'Phone Number'
  = text_field :tutee, 'phone_number' 
  
  = label :tutee, :phone_number, 'Phone Number'
  = text_field :tutee, 'phone_number'
  
  = label :tutee, :semesters_at_cal, 'Semesters at Cal'
  = text_field :tutee, 'semesters_at_cal'
  
  = label :tutee, :major, 'Major'
  = text_field :tutee, 'major'
  
  = label :tutee, :course_name, 'Class Requesting Help In'
  = text_field :tutee, 'course_name'
  
  // = label :tutee, :course_name, 'Day Availability'
  // = text_field :tutee, 'course_name'
  
  = label :tutee, :day, 'Day Availability'
  - ['Monday','Tuesday','Wednesday','Thursday','Friday'].each do |day|
    = check_box_tag 'tutee[day]'
  
  // = label :tutee, :course_name, 'Time Availability'
  // = text_field :tutee, 'course_name'
  
  = label :tutee, :time, 'Time Availability'
  - ['8-9','9-10','10-11','11-12','12-1','1-2','2-3','3-4','4-5','5-6']
    = check_box_tag 'tutee[time]' 
    
  = label :tutee, :dsp, 'Member of DSP? (yes/no)'
  = text_field :tutee, 'dsp'
  
  
  = submit_tag 'Submit'
  = link_to 'Back to Home', tutees_path

